#start {
	position: absolute;
}

#dialog {
	position: absolute;
	top: 44px;
	left: 44px;
	border: solid 1px;
	border-radius: 4px;
	background-color: #bfdab7;
	z-index: 2;
	display: none;
}
.TheGame {
	width: 100%;
	height: 1000px;
}
.playField {
	position: relative;
	margin: auto;
	border: solid 1px;
	border-radius: 8px;
	background-color: #cff6ff;
	width: 1000px;
	height: 500px;
}

#infoPanel {
	position: absolute;
	top: 40px;
	right: 40px;
}
#wind {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 200px;
	left: 50px;
}
#boarding, #fireButton, #controlPanel {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 350px;
}
#boarding {
	left: 40px;
}
#fireButton {
	left: 160px;
}
#grapple:disabled, #fire:disabled {
	opacity: 0.5;
}
#controlPanel {
	left: 280px;
	display: none;
}

/* положение кораблей */
.ship {
	width: 143px;
	height: 200px;
	position: absolute;
	display: none;
}

#plrShip, #oppShip {
	position: absolute;
	left: 460px;
}

#plrShip {
	top: 300px;
}

/* страты в руке */
#hand {
	display: inline-flex;
	flex-wrap: wrap;
	margin-left: 700px;
	margin-top: 240px;
}
.strata {
	width: 89px;
	height: 124px;
	margin-right: 11px;
	display: none;
}
.strata img {
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.strata img:hover {
	-webkit-transform: scale(4);
	-moz-transform: scale(4);
	-o-transform: scale(4);
}

#portretOpp {
	display: none;
}